<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns:ie="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="./assets/infonet/Styles.css" rel="styleSheet" type="text/css">
    <link href="./assets/infonet/portal.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="./assets/infonet/menu_service.js"></script>
    <script type="text/javascript">var menuService_AppletCodebase = "/wps/menu";</script>

</head>

<body marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-repeat: no-repeat" background="./assets/infonet/header0.gif">
        <tbody>
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr height="21">
                                <td>
                                    <img src="./assets/infonet/blank.gif" width="165" height="1/">
                                </td>
                                <td width="100%" nowrap="" style="background-repeat: repeat-x" background="./assets/infonet/header1.gif">
                                    <span style="font-family: 'Verdana'; font-size: 12pt; color: #ffffff; font-weight: bold">InfoNet</span>
                                </td>
                                <td align="right" nowrap="" style="background-repeat: repeat-x" background="./assets/infonet/header1.gif">
                                    <a class="headerRightLinks" href="#">Help</a>
                                </td>
                                <td>
                                    <img src="./assets/infonet/header2.gif">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr height="43">
                                <td>
                                    <img src="./assets/infonet/blank.gif" width="275" height="1">
                                </td>
                                <td width="100%" style="background-color: #ffffff; background-repeat: no-repeat; background-position: right" background="./assets/infonet/header3.gif"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: #B2C1D1">
        <tbody>
            <tr>
                <td valign="bottom">
                    <!-- BEGIN PlaceBarInclude.jsp -->
                    <table border="0" class="placeBar" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="left" valign="bottom" nowrap="">
                                    <table border="0" cellpadding="0" cellspacing="0" height="100%" background="./assets/infonet/dot.gif">
                                        <tbody>
                                            <tr>
                                                <td class="selectedPlace" nowrap="" height="100%">
                                                    <a class="selectedPlaceLink" href="#">&nbsp;CAMIS&nbsp;</a>
                                                    <!-- show tools buttons -->
                                                </td>
                                                <!--
                                                <td class="unSelectedPlace" nowrap="" height="100%">
                                                    <a class="unSelectedPlaceLink" href="#">&nbsp;HELP&nbsp;</a>
                                                </td>
                                                -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td align="right" valign="middle" nowrap="">
                                    <!--
                                        <a href="http://portalsearch.courts.judiciary.state.nj.us/search?access=p&amp;sort=date%3AD%3AL%3Ad1&amp;output=xml_no_dtd&amp;site=default_collection&amp;ie=UTF-8&amp;oe=UTF-8&amp;client=default_frontend&amp;proxystylesheet=default_frontend&amp;proxycustom=%3CADVANCED/%3E"
                                                        class="njInfoNetLink">Advanced</a>
                                    -->
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="wpsPortletBody">
        <table width="100%" class="navTop">
            <tbody>
                <tr>
                    <td class="navTopN">
                        <a href="#">
                            <span class="navTopTextN">SEARCH</span>
                        </a>
                    </td>
                    <td class="navTopN">
                        <a href="#">
                            <span class="navTopTextN">HELP</span>
                        </a>
                    </td>
                    <td width="100%" class="navTopSpaceRight">
                        <img src="./assets/infonet/space.gif" border="0" width="1" height="1">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="wpsPortletBody">

        <!--    top menu bar ends -->
        <!--    Main contents starts -->
        <table width="100%" class="wcmTable">
            <tbody>
                <tr>
                    <td width="100%" style="padding-right: 3px; padding-top: 1px">
                        <!---   Middle Content starts  -->
                        <!--- center block starts -->
                        <table width="100%" class="menu">
                            <tbody>
                                <tr>
                                    <td class="menuTitle"> Enter Search Criteria</td>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- BEGIN: MENU Highlights - My Workspace -->
                                        <table width="100%" class="menuFrameless">
                                            <tbody>
                                                <tr>
                                                    <td class="contentSubtitle">Highlights</td>
                                                </tr>
                                                <tr>
                                                    <td width="100%">
                                                        May 23 --
                                                        In addition to being more convenient,
                                                        using these extensions will result in significant savings for the
                                                        Judiciary. You can find a full listing of VOIP locations
                                                        <a href="#"
                                                            target="new">here</a>.
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%">
                                                        April 23 -- ISP Toms River is the most recent location to move to the VOIP system! All VOIP users are reminded to call each
                                                        other using their 5-digit extensions. In addition to being more convenient,
                                                        using these extensions will result in significant savings for the
                                                        Judiciary. You can find a full listing of VOIP locations
                                                        <a href="#"
                                                            target="new">here</a>.
                                                        <br>
                                                        <br>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%">
                                                        For the latest information on road conditions and closures from New Jersey's Department of Transportation click on
                                                        <a href="http://www.511nj.org/">511nj.org</a>
                                                        <br>
                                                        <br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- END: MENU Highlights - My Workspace -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END: HTML Judiciary News - My Workplace -->
                        <!-- center block ends -->
                        <!--   center contents ends -->
                    </td>
                    <!---   left nav starts  -->
                    <td>
                            <img src="./assets/infonet/space.gif" width="200" height="1">
                            <br>
                            <table width="100%" class="menuBackground">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="menuTitle">Links</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="./assets/infonet/bullet.gif" border="0" width="7" height="12">
                                        </td>
                                        <td class="menuMenuLink">
                                            <img src="./assets/infonet/Link.gif" border="0" alt="External link will open in a separate browser window" width="11" height="11">&nbsp;
                                            <a href="http://www.njcourts.gov/" target="_blank">NJ Courts
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="./assets/infonet/bullet.gif" border="0" width="7" height="12">
                                        </td>
                                        <td class="menuMenuLink">
                                            <img src="./assets/infonet/Link.gif" border="0" alt="External link will open in a separate browser window" width="11" height="11">&nbsp;
                                            <a href="http://www.state.nj.us/" target="_blank">State of New Jersey</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="./assets/infonet/bullet.gif" border="0" width="7" height="12">
                                        </td>
                                        <td width="100%">
                                            <span class="menuMenuLink">
                                                <a href="#">Reference</a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%" class="menuBackground">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="menuTitle">Links</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="./assets/infonet/bullet.gif" border="0" width="7" height="12">
                                        </td>
                                        <td class="menuMenuLink" width="100%">
                                            <a href="#">OTHER LINK</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!---   Left nav ends  -->
                        </td>                    
                </tr>
                <!--- main contents ends -->
                <!--- footer nav starts  -->
                <tr>
                    <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" height="35" style="margin: 10px">
                            <tbody>
                                <tr valign="top">
                                    <td class="footerText">
                                        <span class="footerText">
                                            <a href="mailto:support@srbala.com">Contact Us</a>
                                        </span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="footerText">
                                            <a href="#">Some Link</a>
                                        </span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="footerText">
                                            <a href="#sitemap">Site Map</a>
                                        </span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Copyrighted © 2011 - All rights reserved</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!--- footer nav ends  -->
            </tbody>
        </table>
    </div>
    <script src="./assets/infonet/jquery-1.12.4.min.js"></script>
</body>

</html>
